@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
	--color-base: #0d1532;
	--color-primary: #22180f;
	--color-secondary: #f8b700;
	--color-accent: #ffc8e7;
	--color-text: #f8b700;
	--color-section: #1d7e5a;
	--color-primary-section: #1b963d;
	--color-secondary-section: #81c745;
	--color-accent-section: #ffa0d6;
}

@layer base {
	html {
		font-family: 'Source Sans Pro', sans-serif;
	}

	body {
		-ms-overflow-style: none;
		scrollbar-width: none;
		overflow-y: scroll;
	}

	body::-webkit-scrollbar {
		display: none;
	}

	a {
		@apply text-accent inline-block transition-all duration-300 ease-in-out hover:-translate-y-1 hover:underline;
	}

	img {
		@apply block max-w-full;
	}

	li::marker {
		color: white !important;
	}
}

@layer utilities {
	.bg-leather {
		background-image: url('/images/bg-leather.jpg');
	}

	.bg-mobile {
		background-image: url('/images/960_BG_Mobile.jpg');
	}

	@media (min-width: 768px) {
		.md\:bg-leather {
			background-image: url('/images/bg-leather.jpg');
		}
	}
}
